.box-container{
    display:flex;
    margin-top:2%;
    margin-bottom:2%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    flex-direction:column;
    height:auto;
    background-color: #8e9775c2;
    border-radius: 20px;
    padding: 25px;
    flex-wrap: wrap;
    box-shadow:10px 10px 10px 10px #4a503da9;
}
.game-container{
    margin-top:2%;
    margin-bottom:2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    background-color: #e29083cc;
    border-radius: 20px;
    box-shadow:5px 5px 5px 5px #4a503d5e;
}
.rules-container{
    margin-top:2%;
    margin-bottom:2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    background-color: #e29083cc;
    border-radius: 20px;
    box-shadow:5px 5px 5px 5px #4a503d5e;
    
}
.rules-container > h1{
    text-align:center;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
h4{
    text-align:center;
}
.startgame{
    background-color: #faf2da;
    box-shadow:3px 3px 3px 3px #4a503d77;
    width:170px;
    height:50px;
    border: none;
    padding: 10px;
    border-radius: 12px;
    font-size:20px;
    transition: width 0.2s, height 0.4s;
}
.startgame:hover{
    background-color:#faf2dace;
    box-shadow:6px 6px 6px 6px #4a503d77;
    width:165px;
    height:45px;
}